@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Nunito:wght@900&display=swap');
body {
    text-align: center;
    background-color: rgb(256, 177, 111);
    background: url('https://cdn.shopify.com/s/files/1/0042/4673/2846/products/OA-139_Light_Wood_Texture_Board_LIGHTWOODTEXTUREBOARD_1024x.jpg?v=1600380808');
    font-family: 'Montserrat', sans-serif;
    background-size: cover;
    position: fixed;
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px;
}

h1 {
    text-align: center;
    font-family: 'Nunito', sans-serif;
}

.title {
    color: #49372a;
    position: relative;
    left: -60px;
    top: -40px;
    width: 100%;
    cursor: pointer;
}

.buttons-div,
.modal-buttons-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.buttons-div button {
    margin: 0 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.55);
}

button {
    font-family: 'Montserrat', sans-serif;
    background: rgba(255, 228, 196, 0.1);
    width: 150px;
    border-radius: 16px;
    box-shadow: 1px 1px #49372a;
    ;
    height: 40px;
    /* background-color: bisque; */
    border: 0.5px solid #b89273;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.55);
    color: #49372a;
    cursor: pointer;
}

.modal-button {
    display: block;
    align-self: center;
    width: 100px;
    margin: 20px 10px 0px 10px;
    background: rgba(255, 228, 172, 1);
}

.inner {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}


/* .brainvita {
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 275px;
    background: rgb(163, 50, 6);
    width: 450px;
    height: 450px;
    border: 45px double rgb(210, 80, 20);
} */

.baby-mode {
    background-color: yellow;
}

.brainvita {
    /* margin: 100px auto; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 50%;
    /* background: radial-gradient(#e66465, rgb(163, 50, 6)); */
    background: radial-gradient(#E66422, rgb(164, 50, 6), rgb(164, 26, 6));
    max-width: 450px;
    max-height: 450px;
    min-width: 400px;
    min-height: 400px;
    border: 32px double rgb(210, 80, 20);
    /* box-shadow: 0 15px 18px black; */
    box-shadow: 0px 10px 14px rgba(0, 0, 0, 0.5);
    visibility: visible;
}

.nude-brainvita {
    visibility: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
    left: -60px;
    top: -40px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    visibility: visible;
}


/* .square {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: -1px;
    margin-left: -1px;
} */

.square {
    width: 36px;
    height: 36px;
    margin: 8px;
    border: 1px solid rgb(163, 0, 6);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    /* background: radial-gradient(#e66465, rgb(163, 50, 6)); */
    background: radial-gradient(#E66417, rgb(164, 43, 6));
    box-shadow: 0px 2px 40px #E66417;
}

.nude-square {
    visibility: visible;
    border: 1px solid rgba(163, 0, 6, 0);
    box-shadow: none;
    background: radial-gradient(rgba(123, 61, 44, 0.1), rgba(123, 61, 44, 0.6));
}

.marble {
    cursor: pointer;
    width: 42px;
    height: 42px;
    border-radius: 30px;
    /* border: 1px solid white; */
    box-shadow: 'none';
}

.modal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgb(0, 0, 0, 0.3);
    z-index: 40;
    /* display: none; */
}

.modal-text {
    /* margin: 200px auto; */
    width: 50%;
    /* height: 450px; */
    max-width: 400px;
    min-width: 330px;
    background-color: white;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #49372a;
    position: relative;
    left: -60px;
}

.back {
    position: absolute;
    top: 3%;
    left: 3%;
    width: 60px;
    height: 28px;
    /* font-size: 20px;
    text-decoration: solid;
    font-weight: bold; */
    color: #b89273;
}

.training-mode {
    position: absolute;
    top: 7%;
    left: 3%;
    width: 60px;
    height: 20px;
}

.training-banner {
    position: absolute;
    top: 25px;
    right: 120px;
    width: 18%;
    height: 10%;
    background: #49372a;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px 0 0 40px;
    font-size: 16px;
    color: bisque;
    font-family: 'Monteserrat', sans-serif;
    visibility: hidden;
}

.banner-show {
    visibility: visible;
}

.toggle-view {
    position: absolute;
    top: 11%;
    left: 3%;
    width: 60px;
    height: 20px;
    z-index: 4;
}

.back h1 {
    position: relative;
    top: -24px;
}

.back-active {
    color: #49372a;
}


/*training mode*/

.toggle-switch input[type=checkbox] {
    display: none
}

.toggle-switch label {
    cursor: pointer;
}

.toggle-switch label .toggle-track {
    display: block;
    height: 28px;
    width: 60px;
    background: rgba(255, 228, 196, 0.1);
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.55);
    border: 0.5px solid #b89273;
    border-radius: 20px;
    position: relative;
    margin-bottom: 15px;
}

.toggle-switch .toggle-track:before {
    content: '';
    display: inline-block;
    height: 24px;
    width: 24px;
    /* background: #b89273; */
    background: rgba(123, 61, 44, 0.1);
    box-shadow: 1px 2px rgba(123, 61, 44, 0.5);
    border-radius: 20px;
    position: absolute;
    top: 2px;
    left: 2px;
    transition: left .2s ease-in;
}

.toggle-switch input[type="checkbox"]:checked+label .toggle-track:before {
    background: #49372a;
    left: 34px;
    /* background: #b89273;
    left: 2px; */
}


/*toggle view*/

.toggle-switch2 input[type=checkbox] {
    display: none
}

.toggle-switch2 label {
    cursor: pointer;
}

.toggle-switch2 label .toggle-track2 {
    display: block;
    height: 28px;
    width: 60px;
    background: rgba(255, 228, 196, 0.1);
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.55);
    border: 0.5px solid #b89273;
    border-radius: 20px;
    position: relative;
    margin-bottom: 15px;
}

.toggle-switch2 .toggle-track2:before {
    content: '';
    display: inline-block;
    height: 24px;
    width: 24px;
    background: rgb(164, 43, 6);
    /* box-shadow: 1px 2px rgba(100, 23, 2, 0.5); */
    border-radius: 20px;
    position: absolute;
    top: 2px;
    left: 2px;
    transition: left .2s ease-in;
}

.toggle-switch2 input[type="checkbox"]:checked+label .toggle-track2:before {
    /* background: #b89273; */
    background: rgba(123, 61, 44, 0.1);
    box-shadow: 1px 2px rgba(123, 61, 44, 0.5);
    box-sizing: border-box;
    left: 33px;
}

@media (max-width: 490px),
(max-height: 680px) {
    .inner {
        padding-top: 30px;
    }
    .brainvita {
        visibility: hidden;
    }
    .row {
        visibility: visible;
    }
    .square {
        border: 1px solid rgba(163, 0, 6, 0);
        box-shadow: none;
        background: radial-gradient(rgba(123, 61, 44, 0.1), rgba(123, 61, 44, 0.6));
    }
    .modal-text {
        margin-top: -40px;
    }
    .toggle-switch2.toggle-view {
        display: none;
    }
}

@media (max-width: 490px) {
    .buttons-div {
        position: relative;
        top: 40px;
    }
}

@media (max-height: 630px) {
    .inner {
        margin-top: -40px;
    }
}